/*==========================================
            GLOBAL ANIMATIONS
==========================================*/

/* Fade Up */

.fade-up{

opacity:0;

transform:translateY(40px);

transition:.8s ease;

}

.fade-up.show{

opacity:1;

transform:translateY(0);

}

/* Fade Left */

.fade-left{

opacity:0;

transform:translateX(-60px);

transition:.8s ease;

}

.fade-left.show{

opacity:1;

transform:translateX(0);

}

/* Fade Right */

.fade-right{

opacity:0;

transform:translateX(60px);

transition:.8s ease;

}

.fade-right.show{

opacity:1;

transform:translateX(0);

}

/* Zoom */

.zoom{

opacity:0;

transform:scale(.85);

transition:.8s ease;

}

.zoom.show{

opacity:1;

transform:scale(1);

}

/* Float */

.float{

animation:float 5s ease-in-out infinite;

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

}

/* Pulse */

.pulse{

animation:pulse 2.5s infinite;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.05);

}

100%{

transform:scale(1);

}

}

/* Rotate */

.rotate{

animation:rotate 15s linear infinite;

}

@keyframes rotate{

100%{

transform:rotate(360deg);

}

}

/* Shine */

.shine{

position:relative;

overflow:hidden;

}

.shine::before{

content:"";

position:absolute;

top:0;

left:-120%;

width:60%;

height:100%;

background:linear-gradient(

90deg,

transparent,

rgba(255,255,255,.25),

transparent

);

transform:skewX(-20deg);

}

.shine:hover::before{

animation:shineMove .9s;

}

@keyframes shineMove{

100%{

left:150%;

}

}

/* Gradient Flow */

.gradient-text{

background:linear-gradient(

90deg,

#00e5ff,

#3b82f6,

#8b5cf6,

#ec4899,

#22c55e

);

background-size:400%;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

animation:gradientFlow 8s linear infinite;

}

@keyframes gradientFlow{

0%{

background-position:0%;

}

100%{

background-position:300%;

}
}
