/*==========================================
            GLOBAL RESPONSIVE
==========================================*/

@media(max-width:1200px){

.container{

width:95%;

}

}

@media(max-width:991px){

.section-heading h2{

font-size:38px;

}

.hero-wrapper{

gap:45px;

}

.footer-grid{

gap:30px;

}

}

@media(max-width:768px){

.section-heading{

text-align:center;

}

.section-heading h2{

font-size:32px;

}

.section-heading p{

font-size:15px;

}

.hero-buttons{

flex-direction:column;

}

.btn{

width:100%;

}

}

@media(max-width:576px){

section{

padding:70px 0;

}

.section-heading h2{

font-size:28px;

}

.container{

width:92%;

}

}
